@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  /* 드래그 불가 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  background-color: black;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
  color: white;
}

.display {
  font-size: 70px;
  color: white;
  text-align: right;
  margin-right: 10px;
}

/* Set display "0" */
[contentEditable='false']:empty:not(:focus):before {
  content: attr(data-text);
}

td {
  cursor: default;
}

td:not(.btn-0) {
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

td:not(.btn-0) {
  text-align: center;
}

.btn-0 {
  border-width: 2px 4px;
  border-radius: 40px;
  padding-left: 26px;
}

.btn-0,
.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5,
.btn-6,
.btn-7,
.btn-8,
.btn-9,
.btn-dot {
  background-color: #383838;
  transition: background 0.3s;
  font-size: 30px;
}

.btn-0:hover,
.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover,
.btn-5:hover,
.btn-6:hover,
.btn-7:hover,
.btn-8:hover,
.btn-9:hover,
.btn-dot:hover {
  /* ripple effect */
  background: #8c8c8c radial-gradient(circle, transparent 1%, #8c8c8c 1%)
    center/15000%;
}

.btn-0:active,
.btn-1:active,
.btn-2:active,
.btn-3:active,
.btn-4:active,
.btn-5:active,
.btn-6:active,
.btn-7:active,
.btn-8:active,
.btn-9:active,
.btn-dot:active {
  background-color: #383838;
  background-size: 100%;
  transition: background 0s;
}

.btn-ac,
.btn-ngt,
.btn-per {
  background-color: #bababa;
  color: black;
  transition: background 0.3s;
  font-size: 25px;
}

.btn-ac:hover,
.btn-ngt:hover,
.btn-per:hover {
  background: #e8e8e8 radial-gradient(circle, transparent 1%, #e8e8e8 1%)
    center/15000%;
}

.btn-ac:active,
.btn-ngt:active,
.btn-per:active {
  background-color: #bababa;
  background-size: 100%;
  transition: background 0s;
}

.calc {
  background-color: #e39400;
  transition: background 0.3s;
  font-size: 35px;
}

.calc.clicked {
  background-color: #ffba00;
  font-size: 35px;
}

.calc:hover {
  background: #ffba00 radial-gradient(circle, transparent 1%, #ffba00 1%)
    center/15000%;
}

.calc:active {
  background-color: #e39400;
  background-size: 100%;
  transition: background 0s;
}
