@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2d2013;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

input {
  width: 300px;
  height: 35px;
  border-radius: 5px;
}

.search {
  cursor: pointer;
  background-color: #efefef;
  display: inline;
  color: black;
  padding: 10px;
  margin: 0 30px 0 5px;
  border-radius: 5px;
}

.shuffle {
  cursor: pointer;
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.meals {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

img {
  width: 100px;
  height: 100px;
}
